<aside id="request_info">
<h1> {{ r.clickedRequest.description}}</h1>
  <li> Request for a tour in: {{ r.clickedRequest.location }}</li>
  <li> Budget: {{r.clickedRequest.budget}}</li>
  <li> Requested date: {{r.clickedRequest.requested_date}}</li>
  <li> Duration: Still needs to be added into rails and angular form</li>
</aside>
