<img class="img-circle" src="{{r.requestUser.avatar_url}}" alt="Profile picture">
<h3> <b>{{r.requestUser.f_name}}</b><br>
  is looking to do something in <br>
  <b> {{ r.clickedRequest.location }} </b>
  on <br>
  <b> WIll have data binding for requested date {{r.clickedRequest.requested_date}}</b>
</h3></br>

<h4> Other details to bear in mind: </h4>
  <li> {{r.requestUser.f_name}} has <b> £{{r.clickedRequest.budget}}</b> to spend</li>
  <li> {{r.requestUser.f_name}} only has X amount of time (Still needs to be added into rails and angular form)</li>
<h3> Think you can help <b>{{r.requestUser.f_name}}</b> ? </h3>
  <a href="https://localhost:3000/{{r.clickedRequest.id}}/replies/new"> Reply </a>
