<div id="wrapper" ng-controller="MapController as map">

  <%= render 'sidebar' %>

  <div ng-controller="RequestController as r">
    <%= render "modal_request.html.erb" %>
    <div class="request-info-box" ng-show="r.isInfoOpen" ng-click="r.closeClickedRequestInfo">
      <%= render "single_request_info.html.erb" %>
    </div>
    <div ng-show="r.success">
      Request submitted
    </div>
  </div>
  <div id="map"></div>

</div>
