<div ng-controller="RequestController as r">
  <%= render "modal_request.html.erb" %>
  <div ng-show="r.success">
    Request submitted
  </div>
</div>

<div class="container-fluid">
  <div ng-controller="MapController as map">
    <h1>{{map.userLocationArea.results[0].formatted_address}}</h1>

    <div id="map"></div>

  </div>
</div>
