<div class="container-fluid">
  <div ng-contoller="LocationController as location">
    {{location.showPosition()}}
    <button ng-click="location.getLocation()">Push Me!</button>


    <button ng-click="location.alert">Hello!</button>

  </div>
</div>
