<div class="container-fluid">
  <div ng-controller="LocationController as location">
    <h1>{{location.userLocationArea.results[0].formatted_address}}</h1>
    <button ng-click="location.getLocation()">Get Location</button>
    <button ng-click="location.initMap()">Show my map!</button>

    <div id="map"></div>

  </div>
</div>
