<div id="myModal" class="modal fade" role="dialog" ng-submit="r.update(request)">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" >

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Request a tour from a local</h2>
        </div>

      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="location"><h4>Where I'm going: {{request.location}}  </h4>*required</label>
            <input type="text" class="form-control" name="location" id="location" ng-model="request.location" placeholder="Where do you want to go?" ng-required="true">
            <label for="location">Location</label>
          </div>

          <div class="form-group">
            <label for="description"><h4>What I want to do there:  </h4></label>
            <textarea class="form-control" rows="4" name="description" id="description" ng-model="request.description" placeholder="What do you want to do?"></textarea>
          </div>

          <div class="form-group">
            <label for="request_date"><h4>When I'll be there:  </h4>*required</label>
            <input type="date" class="form-control" name="request_date" id="request_date" ng-model="request.request_date" ng-required="true">
          </div>

          <div class="form-group">
            <label for="request_time_of_day"><h4>When will you be free on {{request.request_date | date:'fullDate'}}?</h4></label><br>
                <input class="form-control" type="radio" name="request_time_of_day"  ng-model="request.time_of_day" value="All Day" ng-required="true" checked> All day<br>
                <input class="form-control" type="radio" name="request_time_of_day"  ng-model="request.time_of_day" value="Morning" checked> Morning <br>
                <input class="form-control" type="radio" name="request_time_of_day"  ng-model="request.time_of_day" value="Afternoon" checked> Afternoon <br>
                <input class="form-control" type="radio" name="request_time_of_day"  ng-model="request.time_of_day" value="Evening" checked> Evening <br>
              <h4> I'm free: {{request.time_of_day}} </h4>
              <button type="button" class="btn btn-default" ng-click="r.toggleMoreOptions()" ng-click="r.openMoreOptions()" ng-show="r.isMoreOptions"> Fewer Options </button>
              <button type="button" class="btn btn-default" ng-click="r.toggleMoreOptions()" ng-click="r.openMoreOptions()" ng-hide="r.isMoreOptions"> More Options </button>  
          </div>

          <div class="form-group" ng-show="r.isMoreOptions">
            <label for="group_size"> <h6> Group Size: </h6></label><br>
              <input type="integer" name="group_size" ng-model="request.group_size" class="form-control" ><br>
          </div>

          <div class="form-group" ng-show="r.isMoreOptions">
            <label for="budget"><h4> Budget: </h4></label>
            <input type="range"
                    min="0" max="250" step="5"
                    class="form-control"
                    id="budget"
                    ng-model="request.budget">
            <output for="budget" id="request_budget">
              <h4> I've got £{{request.budget || '100'}} to spend </h4>
            </output>
          </div>

          <div class="form-group" ng-show="r.isMoreOptions">
            <label for="special_considerations"> <h6> Special Considerations: </h6></label><br>
              <label><input class="form-control" type="checkbox" name="special_considerations" ng-model="request.disability_access" value="Disabled" > Disabled access required</label><br>
              <label><input class="form-control" type="checkbox" name="special_considerations"   ng-model="request.children" value="Children" > Young children in tow </label><br>
              <label><input class="form-control" type="checkbox" name="special_considerations"  ng-model="request.luggage" value="Luggage" > Heavy luggage in tow </label><br>
              <label><input class="form-control" type="checkbox" name="special_considerations" ng-model="request.airport_access" value="FlightsThatDay"> Flying on the same day </label><br>
          </div>



          <div class="form-group" ng-show=r.isMoreOptions>
            <h4>When I'll be there: {{request.request_date | date:'fullDate'}}</h4><br>
            <label for=tour_time_start> From:</label>
            <input  class="form-control"
                    type="time"
                    id="tour_time_start"
                    ng-model="request.tour_time_start"
                    >
          </div>

          <div class="form-group" ng-show=r.isMoreOptions>
            <label for="duration"> Duration </label>
            <output for="duration" id="tour_duration">
              <h4> I'm free for {{request.tour_duration}} hours </h4>
              <h4> From: {{request.tour_time_start | date:'HH' + ':' + 'mm'}} until: {{r.tour_time_end}}</h4>
            </output>
              <input  type="range"
                      name="time"
                      class="form-control"
                      id="tour_duration"
                      ng-model="request.tour_duration"
                      ng-change="r.calculateTimeLimiter(request.tour_time_start)"
                      min="0" max="{{r.calculateTimeLimiter(request.tour_time_start, request.tour_duration)}}" step="1"
                      oninput="r.outputUpdate(value)"
                      >
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-default" id="modal-submit" >Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
