<div class="card hovercard">
    <div class="cardheader">
      <div class="close pull-right" ng-click="r.closeClickedRequestInfo()">&times;</div>
    </div>
    <div class="avatar">
      <img class="img-circle" ng-src="{{r.requestUser.avatar_url}}" alt="Profile picture">
    </div>
    <div class="info">
        <div class="title">
          <h1> {{r.requestUser.f_name}} {{r.requestUser.l_name}}</h1>
        </div>
        <div class="desc">Is looking to do something in<b> {{ r.clickedRequest.location }} </b></div>
        <div class="desc">On <b>(date to be included) {{r.clickedRequest.requested_date}}</b></div>
        <h4> Other details to bear in mind: </h4>
        <div class="desc">{{r.requestUser.f_name}} has <b> £{{r.clickedRequest.budget}}</b> to spend</div>
        <div class="desc">{{r.requestUser.f_name}} only has X amount of time (to be included)</div>
    </div>
    <div class="bottom" ng-hide="r.requestUser.id == <%= current_user.id %>">
      <%= link_to "/requests/{{r.clickedRequest.id}}/replies/new" do %>
        <button class="btn-for-request" type="submit" ng-click="r.toggleResponseForm">Reply to {{r.requestUser.f_name}}'s request</button>
      <% end %>
      <button class="btn-for-request" type="submit" ng-click="r.toggleUserInfo">Find out more about {{r.requestUser.f_name}}</button>
    </div>
    <aside ng-show="r.isUserInfoOpen" class="requested-user-info"></aside>
</div>
