<% if @requests.any? %>
  <div class="container comment-list">
    <% @requests.each do |request| %>
      <div class="row">

        <%= render 'single_card', request: request %>

          <div class="col-md-6 col-sm-6">
            <% request.replies.each do |reply| %>
              <%= render 'replies/single_reply', request: request, reply: reply %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
<% else %>
  <p> You have not made any requests yet. </p>
<% end %>
