/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";

div.container-fluid{
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  min-height: 800px;
}

.gm-style-iw {
  width: 350px;
  top: 15px;
  left: 0px;
}

// maps infoBox
#iw-container {
    margin-bottom: 10px;
    width: 350px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #729f98;
    color: white;
    margin: 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-title img {
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}


// Nice hover and shake snippet
// .request-info-box:hover {
//   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//   transform: translate3d(0, 0, 0);
//   backface-visibility: hidden;
//   perspective: 1000px;
// }
//
// @keyframes shake {
//   10%, 90% {
//     transform: translate3d(-1px, 0, 0);
//   }
//
//   20%, 80% {
//     transform: translate3d(2px, 0, 0);
//   }
//
//   30%, 50%, 70% {
//     transform: translate3d(-4px, 0, 0);
//   }
//
//   40%, 60% {
//     transform: translate3d(4px, 0, 0);
//   }
// }
// .request-info-box.grow {
//   transition: all .20s ease-in-out;
// }
// .request-info-box.grow:hover {
//   transform: scale(1.1);
// }
.button-dashboard {
  text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

.btn {
	display: inline-block;
	line-height: 56px;
	text-align: center;
	background-color: #ba9077;
  z-index: 2;
  color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	text-decoration:none;
	// text-shadow: -1px -1px 1px #616161;
	position: relative;
}
.shadow {
	position: absolute;
	top:5px;
	left: 5px;
	background: #666;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.request-info-box{
  position: absolute;
  z-index: 1;
  border-radius: 20%;
  max-width: 38%;
  max-height: 95%;
  margin-left: 60%;
  padding: 15px 5px 20px 15px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(154, 235, 191, 0.78);
  font-family: Roboto;
 }

.request-info-box img {
  align-self: center;
}

 li {
   text-align: left;
 }

// sidebar
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #1d2120;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-nav > .top-section{
  background-color: #729f98;
}

.sidebar-nav > .top-section li a{
  display: inline;
}

@media(min-width:768px) {

  #sidebar-wrapper {
    width: 250px;
  }

}
