/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "cover";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";
 // @import "cards";
 @import "arrows";
 // @import "bootstrap/dist/css/bootstrap";


#map {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.round-image-50 {
  // img-circle
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.request-block {
  display: flex;
  li {
    list-style-type: none;
  }
}

.reply-block {
  @extend .request-block;
}

.alert {
  margin-bottom: 0;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

$header-color: rgb(18, 86, 136);
$header-text: rgb(250, 250, 250);

@mixin navlinks {
  background-color: $header-text;
  color: $header-color;
}

.navbar {
  background-color: $header-color;
  margin-bottom: 0;
}

.navbar .navbar-nav li a, .navbar-default .navbar-brand {
  color: $header-text;
}
.navbar .navbar-nav li, .navbar-default .navbar-brand {
  &:hover, &:focus {
    @include navlinks;
  }
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

 #pac-input {
   background-color: #fff;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   margin-left: 12px;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 300px;
 }

 #pac-input:focus {
   border-color: #4d90fe;
 }

.gm-style-iw {
  width: 350px;
  top: 15px;
  left: 0px;
}

aside#autocompleteSuggestions ul{
  width: 200px;
  height: 100px;
  z-index: 10;
  font-size: 20px;
}

// Nice hover and shake snippet
// .request-info-box:hover {
//   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//   transform: translate3d(0, 0, 0);
//   backface-visibility: hidden;
//   perspective: 1000px;
// }
//
// @keyframes shake {
//   10%, 90% {
//     transform: translate3d(-1px, 0, 0);
//   }
//
//   20%, 80% {
//     transform: translate3d(2px, 0, 0);
//   }
//
//   30%, 50%, 70% {
//     transform: translate3d(-4px, 0, 0);
//   }
//
//   40%, 60% {
//     transform: translate3d(4px, 0, 0);
//   }
// }
// .request-info-box.grow {
//   transition: all .20s ease-in-out;
// }
// .request-info-box.grow:hover {
//   transform: scale(1.1);
// }
.button-dashboard {
  text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

// .btn {
// 	display: inline-block;
// 	line-height: 56px;
// 	text-align: center;
// 	background-color: rgba(190, 131, 42, 0.85);
//   z-index: 2;
//   color: white;
// 	font-family: Helvetica, Arial, Sans-Serif;
// 	font-size: 14px;
// 	text-decoration:none;
// 	// text-shadow: -1px -1px 1px #616161;
// 	position: relative;
// }
// sidebar

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #1d2120;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-nav > .top-section{
  background-color: #729f98;
}

.sidebar-nav > .top-section li a{
  display: inline;
}

@media(min-width:768px) {

  #sidebar-wrapper {
    width: 250px;
  }

}

// card

.request-info-box{
  position: absolute;
  z-index: 1;
  border-radius: 20%;
  width: 500px;
  max-height: 100%;
  margin-left: 30%;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
 }

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.8);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  color: white;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(114, 159, 152, 0.8);
}

.card.hovercard .cardheader {
background-color: #1d2120;
background-size: cover;
height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	padding: 10px;
  margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}

.brown
{
	background-color: #603311;
	border-bottom: 5px solid #BC7642;
	text-shadow: 0px -2px #603311;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
