// Place all the styles related to the replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ng-thumb {
  width: 100px;
  height: 100px;
}

img.ng-thumb {
  width: 100px;
  height: 100px;
}

.paper {
  td {
    width: 120px;
    vertical-align: top;
  }
  .impt {
    font-size: 16px;
    min-width: 200px;
    max-width: 300px;
  }
}
