  <div layout="column" ng-cloak>
      <md-content class="md-padding">
        <form>
            <md-autocomplete
                id="autocompletebox"
                md-search-text="form.searchText"
                md-no-cache="true"
                md-search-text-change="form.autoCompleteSearch(form.searchText)"
                md-input-name="form.autocompleteSuggestions"
                md-selected-item="form.selectedItem"
                md-selected-item-change="form.moveHere(form.searchText)"
                md-items="item in form.autocompleteSuggestions"
                md-item-text="item.description"
                md-input-minlength="0">

            <md-item-template>
                <span md-highlight-text="form.searchText" md-highlight-flags="^i"> {{item.description}} </span>
            </md-item-template>
          </md-autocomplete>
        </form>
      </md-content>
    </div>
